<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="{{ asset('css/assets/emove.png') }}" />
        <link href="{{ asset('css/css/styles.css') }}" type="text/css" rel="stylesheet">
        <title>{% block title %}EMOVE{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        {% include('navbar.html.twig') %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
